.theme--dark #main {
    background-color: #121212e6 !important;
}

.theme--light #main {
    background-color: #ffffffe6 !important;
}

.theme--dark .post .post-content img {
    filter: none !important;
}
